<div class="container">
  <form id="user_select" action='/tweets' method='/'>
    <p>
      <input type='text' autofocus required=true name='username'>
    </p>
    <input type='submit' >
  </form>
</div>

<div class="tweet_container">
</div>
